@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: int;
  color: #cccccc;
  background-color: #09090b;
}
.navbar {
  display: flex;
  z-index: 999;
  position: sticky;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  background-color: #181818;
  border-bottom: 1px solid #2b2b2b;
}
.console {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background-color: #181818;
  z-index: 10;
  padding: 0;
  font-family: "Monaco", sans-serif;
  display: none;
  border-top: 1px solid #2b2b2b;
}
.console.open {
  display: block;
}
.console-header {
  display: flex;
}
.console-title {
  padding: 0.2rem 1rem;
}
.console-title.active {
  text-decoration: underline;
}
.code-editor {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  z-index: -999;
}
.editor-side-bar {
  display: block;
  height: 90vh;
  background-color: #181818;
  padding: 0rem 0rem 1rem 0rem;
  border-right: 1px solid #2b2b2b;
}
.editor-side-bar-extended {
  padding: 1rem 0;
  width: 17vw;
  display: none;
}
.editor-side-bar-extended.active {
  display: block;
}
.editor-right {
  width: 90vw;
}
.editor-side-bar {
  display: flex;
}
.files {
  display: none;
}
.folder {
  user-select: none;
  display: flex;
  flex-direction: column;
  position: relative;
}
.files.show {
  display: block;
  margin-left: 0.5rem;
}
.folder-enclose {
  width: 1px;
  margin-left: 0.5rem;
  background-color: #cccccc3d;
}
.files-wrapper {
  display: flex;
  height: inherit;
}
.folder .title {
  cursor: pointer;
}
.filebar-item {
  display: inline-block;
  padding: 0.5rem;
  background-color: #1e1e1e;
}
.filebar-item .wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: center;
}
.filebar-item .wrapper button {
  margin: 0rem 0.2rem;
}
.welcome {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 90vh;
}
.shortcut-emment {
  background-color: #313131;
  color: #cccccc;
  border-radius: 5px;
  padding: 3px;
}
.welcome {
  color: #cccccc;
}
.icon-bar {
  width: 2rem;
  font-size: 1.4rem;
}
.side-icon {
  padding: 0.5rem;
}
.console-content {
  margin-left: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 55px;
}

.nav-logo {
  height: 60px;
}

.run-button {
  background-color: #189e33;
  padding: 6px 20px;
}
.button {
  background-color: #d41f30;
  padding: 6px 20px;
}

.console {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0vw 1vw 0vw 1vw;
}

.console-top-bar {
  display: flex;
  width: 97vw;
  align-items: center;
  justify-content: space-between;
}
.leftbar {
  display: flex;
}
.console-tab {
  line-height: 1.8rem;
  padding: 0px 20px 0px 5px;
  cursor: pointer;
  user-select: none;
  text-decoration-color: #d41f30;
}
.console-tab:hover {
  transition: all 0.3s ease-in;
  text-decoration: underline;
  text-decoration-color: #d41f30;
}
.tab-active {
  text-decoration: underline;
  text-decoration-color: #d41f30;
}

.editor-input {
  background-color: #1e1e1e;
  outline: none;
  resize: none;
  width: 98vw;
  height: 30vh;
  padding: 0;
  margin: 0;
}

.editor-input:active {
  outline: none;
}

.editor-output {
  outline: none;
  resize: none;
  width: 98vw;
  height: 30vh;
  padding: 0;
  margin: 0;
}

.language-drop-option {
  background-color: #181818;
}

.language-drop-header {
  background-color: #181818;
}
.close-button:hover {
  cursor: pointer;
}

.signup-form {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
}
.wrapper {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  gap: 20px;
}
